{
  "presets": [
    "next/babel",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src/"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "inline-dotenv"
      ]
    }
  }
}
