@each $size in (1, 2, 3, 4) {
  .grow-#{$size} {
    flex-grow: #{$size};
  }
}

@each $size in (4, 8, 10, 12, 14, 16, 18, 20) {
  .font-#{$size} {
    font-size: #{$size}px;
  }
}

@each $size in (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75) {
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }
  .mr-#{$size} {
    margin-right: #{$size}px;
  }
  .ml-#{$size} {
    margin-left: #{$size}px;
  }
  .mt-#{$size} {
    margin-top: #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px;
  }
  .pr-#{$size} {
    padding-right: #{$size}px;
  }
  .pl-#{$size} {
    padding-left: #{$size}px;
  }
  .pt-#{$size} {
    padding-top: #{$size}px;
  }
}
.overflow-auto {
  overflow: auto;
}
.lightblue-gradient {
  background: linear-gradient(#2898fb,#01d8fd);
}
.lightblue-gradient-color {
  color: linear-gradient(#2898fb,#01d8fd);
}
