.issues-item {
  font-size: 16px;
  margin-bottom: 5px;
  &:last {
    margin-bottom: 0px;
  }
}
.issue-container {
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse !important;
  }
}
.mailing-list-title {
  @extend .title;
  color: #000;

  a {
    color: #000
  }
}
